{% extends "layout.html" %}
{% block content %}

<!-- Custom CSS for Form -->
<link rel="stylesheet" href="/static/form.css">

<!-- Poster and Heading -->
<div class="text-center">
    
    <img src="/static/use_case_images/2_2.jpg" style="width: 100%; box-shadow: 3px 3px 5px 1px lightslategray;"> 
    <hr>
    <h1 class="mt-4">Digit Recognition</h1>
</div>

<!-- Data Input Form -->
<form action="{{ url_for('digit_recognition_predict') }}" method="post">
    <div class="card rounded-0 mt-5 content-center p-5 " style="display: inline-flexbox;">
        <div class="form-card text-center">
            
            <h4>Ground Truth Class Labels</h4>
            <div class="row">
                <div class="col-8 col-md-12">
                    <img src="/static/use_case_images/2_3.png" style="width: 75%; height: 5rem;" class="mb-4">
                </div>
            </div>
            
            <h4>Model Predictions</h4>
            <div class="row">
                <div class="col-8 col-md-6"> 
                    <img src="/static/use_case_images/2_4.png" style="width: 90%; height: 5rem;" class="mb-2">
                </div>

                <div class="col-8 col-md-6"> 
                    <img src="/static/use_case_images/2_5.png" style="width: 90%; height: 5rem;" class="mb-2">
                </div>
            </div>            

            <div class="row">
                <div class="col-8 col-md-6"> 
                    <img src="/static/use_case_images/2_6.png" style="width: 90%; height: 5rem;" class="mb-2">
                </div>

                <div class="col-8 col-md-6"> 
                    <img src="/static/use_case_images/2_7.png" style="width: 90%; height: 5rem;" class="mb-2">
                </div>
            </div>  
    
            <div class="row mt-4">
                <div class="col-8 col-md-9 m-auto">
                    <!-- <div class="file-upload-wrapper">
                        <label for="image-upload">Upload Your Own Digit Image</label>
                        <input type="file" name="ImageUpload" id="image-upload" value="{{ request.form['ImageUpload'] }}"
                               class="file-upload" accept="image/*" />
                    </div>
                    <h4 class="mt-n1">OR</h4> -->
                    <div class="mt-3">
                        <label for="image-upload-url" class="mb-n4">Enter Image URL</label>
                        <br><small>(Use clear images for best results)</small>
                        <input type="url" name="ImageUploadURL" id="image-upload-url" placeholder="Enter Image URL"
                               value="{{ request.form['ImageUploadURL'] }}" class="mt-3" required>
                    </div>
                </div>
            </div>

            {% if prediction_text %}
            <div class="row mb-2">
                <div class="col-4 m-auto">
                    <img src="data:image/png;base64,{{ prediction_text['contour_image'] }}" alt="" 
                         style="width: 100%; border: 1px solid black;">
                    <small>Detected Contours</small>
                </div>
            </div>
            {% endif %}
            

            <!-- Form Submit Button -->
            <div class="row">
                <div class="col-md-6 m-auto pt-3"> 
                    <input type="submit" class="btn btn-info" value="Predict" 
                    style="font-size: large; color: aliceblue; font-weight: bold;"> 
                </div>
            </div>

            <!-- Output Prediction Text -->
            {% if prediction_text %}
            <h4>Recognized Digits</h4>
            <div id="OutputPredictionText" class="mt-4 d-flex justify-content-around">
                {% for i in range(prediction_text['digit_image']|length) %}
                <div>
                    <img src="data:image/png;base64,{{ prediction_text['digit_image'][i] }}" alt="" 
                    style="width: 4rem; height: 4rem;">
                    <br>
                    <h6 class="text-center mt-1">Prediction: {{ prediction_text['digit_value'][i] }}</h6>
                </div>
                {% endfor %}
                {% if scroll %}
                <script>
                    document.getElementById('{{ scroll }}').scrollIntoView();
                    // document.location.hash = '#' + '{{ scroll }}';
                </script>
                {% endif %}
            </div>
            {% endif %}
            
        </div>
    </div>
</form>

{% endblock %}