* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

#heading2 {
    font-size: 27px;
    color: #D50000
}

.placeicon {
    font-family: fontawesome !important
}

.form-card input {
    padding: 10px 8px 10px 8px;
    border: none;
    border: 1px solid lightgrey;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

.form-card input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    border: 1px solid gray;
    outline-width: 0
}

.btn-info {
    background-color: #89D8D3;
    background-image: linear-gradient(30deg, #89D8D3 0%, #03C8A8 74%);
}

.form-card label {
    font-weight: bold;
    font-size: large;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label{
    display: inline-block;
    font-weight: normal;
    background-color: whitesmoke;
    padding: 0.2rem 1rem;
    font-size: 1rem;
    border: 1px solid darkslategray;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.radio-toolbar label:hover {
    background-color: #3C507C;
    transform: scale(1.05);
    cursor: pointer;
    color: white;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: steelblue;
    color: white;
} 

.algorithm-radio-toolbar label{
    padding-top: 1rem;
    text-align: center;
    height: 4rem;
    width: 16rem;
    margin: 1rem 0.5rem 0.5rem 0rem;
    font-size: large;
}

.algorithm-radio-toolbar label:hover {
    background-color: steelblue;
    transform: scale(1.05);
    cursor: pointer;
    color: white;
}

.algorithm-radio-toolbar input[type="radio"]:checked + label {
    color: white;
    background-color: #3C507C;
} 