{% extends "layout.html" %}
{% block content %}

<div>
    <h2>About The App</h2>
    <hr>
    <p style="text-align: justify;">
        The ML-DL-App is a flask based web application hosting a variety of machine learning and deep learning problem 
        statements along with various pre-trained models for each of them. Here, you can find completely end-to-end 
        implemented topics along with references to their datasets and the source code as well.
        <br>
        <br>
        Just select a problem statement and fill in the required fields, try out different algorithms and make powerful 
        predictions. Click on the 'Start Predicting' button now on favourite problem and start using these amazing models
        on your own! 
    </p>
</div>

{% endblock %}