{% extends "layout.html" %}
{% block content %}

<div>
    <h2>About The App</h2>
    <hr>
    <p style="text-align: justify;">
        The ML-DL-App is a flask based web application hosting a variety of machine learning and deep learning problem 
        statements along with various pre-trained models for each of them. Here, you can find completely end-to-end 
        implemented topics along with references to their datasets and the source code as well.
        <br>
        <br>
        Just select a problem statement and fill in the required fields, try out different algorithms and make powerful 
        predictions. Click on the 'Start Predicting' button now on favourite problem and start using these amazing models
        on your own! 
    </p>

    <h2>About Me</h2>
    <hr>
    <div style="display: inline-block;">
        <div class="col-md-4 float-left">
            <img src="https://the-ml-dl-app-bucket.s3.amazonaws.com/static/author.png" style="height: 100%; width: 100%; border-radius: 50%;">
        </div>
        <div class="col-md-8 float-right mt-2">
            <p style="text-align: justify;">
                Hey guys, I am Rishabh Dingliwal, currently an undergraduate student at Delhi Technological University. So, about me?
                I love data science and to build solutions that work well on real-life applications. I am also an avid reader and a 
                big fan of astrophysics. 
                <br>
                <br>
                I am fluent in probability, statistics, linear algebra, data analysis, machine learning & deep learning algorithms 
                and much more, but most importantly, I am passionate about the possibilities to an unanswered question. I am curious,
                consistent and love to learn and try out new things.    
            </p>
        </div>
    </div>
    <div>
        <p>
            Oh! by the way, thanks for checking out this project, feel free to play around with it and provide your feedback for 
            any improvements. You can reach out to me via the link to my GitHub or other social handles.  
        </p>
    </div>
</div>

{% endblock %}